.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;   
}

.listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch {
    background: rgba(130, 174, 210, 0.293);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    flex: 1;
    padding: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.lsTitle{
    font-size: 20px;
    color: rgb(31, 31, 31);
    margin-bottom: 10px;
}

.lsItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsItem>label {
    font-size: 15px;
}
.lsItem>input {
    height: 30px;
    font-size: 15px;
    border: none;
    padding: 5px;
}
.lsItem>span {
    height: 35px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listResult {
    flex: 3;
}
.lsOptions{
    padding: 10px;
}

.lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 13px;
}

.lsOptionInput{
    width: 50px;
}

.listOptions {
    padding: 10px;
}

.listSearch>button {
    padding: 8px 10px;
    background-color: #0f52ba;
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
}